{% extends 'base.html.twig' %}

{% block title %}Edit Media{% endblock %}

{% block body %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <h1> Modifier Article</h1>
        </div>
        <div class="container">
            {{ include('media/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </section>
{% endblock %}
