{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <!-- ======= About Section ======= -->
    <section id="about"><br><br>
        <div class="container mt-5">
            <div class="section-header">
                <h3 class="section-title">A PROPOS</h3>
                <p class="section-description">La délegation régionale de tourisme de tataouine est toujours à votre service</p>
            </div>
        </div>
        <div class="container" data-aos="fade-up">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Délégation Régionnale de Tourisme et Artisanat de Tataouine</h2>
                    <p>
                        Notre objectif est d'amiliorer le secteur de tourisme a la région de Tataouine qui est considérée comme etant la capitale du tourisme saharien,notre mission est basée sur trois objectifs principals:
                    </p>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fa fa-globe"></i></div>
                        <h4 class="title"><a href=""></a></h4>
                        <p class="description">RENDRE LA REGION DE TATAOUINE CONNUE A L'ECHELLE NATIONALE ET INTERNATIONALE COMME ETANT UNE DESTINATION PARFAITE POUR LES TOURISME DESERTIQUE.</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fa fa-dollar"></i></div>
                        <h4 class="title"><a href=""></a></h4>
                        <p class="description">AIDER ET ENCOURAGER TOUTES INTENTION D'INVESTISSEMENT EN DOMAINE TOURISTIQUE DANS LA REGION DE TATAOUINE   .</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="fa fa-shield"></i></div>
                        <h4 class="title"><a href=""></a></h4>
                        <p class="description">PROTEGER L'HERITAGE CULTURELLE ET MONUMENTALE DE LA REGION .</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
            </div>

        </div>
    </section><!-- End About Section -->
{% endblock %}
