{% extends 'base.html.twig' %}

{% block title %}Hello Page1Controller!{% endblock %}

{% block body %}



<!-- ======= Team Section ======= -->
   <br><br><br><br>
    <main id="main">
    <section id="team"><br><br>
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">OÙ ALLER ?</h3>
          <p class="section-description">LA REGION DE TATAOUINE EST RICHES EN MILIEUX DE RËVES A VISITER</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="/img/11.jpg" alt=""></div>
              <h4>VILLAGE D'ARTISANT</h4>
              <span>située au centre de ville</span>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="/img/12.jpg" alt=""></div>
              <h4>CORNE DE GAZELLE</h4>
              <span>specialitée de la région</span>
             </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="/img/13.jpg" alt=""></div>
              <h4>KSAR HEDADA</h4>
              <span>Site du tournage du filme"STAR WAR"</span>
              </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="pic"><img src="/img/14.jpg" alt=""></div>
              <h4>MUSEE DE LA MEMOIRE DE LA TERRE</h4>
              <span>Située sur la route CHENINI</span>
              </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->
    </main>
{% endblock %}
