{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h1>BIENVENUE A TATAOUINE</h1>
            <h2>DECOUVRIR LE CHARME DU DESERT </h2>
            <a href="/page1" class="btn-get-started">COMMENCER L'AVENTURE</a>
        </div>
    </section><!-- End Hero Section -->
{% endblock %}
