{% extends 'base.html.twig' %}

{% block title %}Hello GallerieController!{% endblock %}

{% block body %}
<br><br><br><br>
<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio"><br><br>
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">lieux a découvrir</h3>
          <p class="section-description">LA VILLE DE TATAOUINE EST RICHES EN MILIEUX DE RËVES A VISITER</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">TOUS</li>
              <li data-filter=".filter-app">VILLAGE TOURISTIQUES</li>
              <li data-filter=".filter-card">KSOURS SAHARIENS</li>
              <li data-filter=".filter-web">NATURE</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="img/dec/i4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>GUERMASSA</h4>
              <p>VILLAGE BERBER TATAOUINE SUD</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="img/dec/i1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>RESERVE NATURELLE Aïn Dkouk</h4>
              <p>TATAOUINE SUD</p>
             
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="img/dec/i3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>CHENINI</h4>
              <p>VILLAGE BERBER TATAOUINE SUD</p>
              
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="img/dec/i6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>KSAR HEDADA</h4>
              <p>GHOMRASSEN</p>
              
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="img/dec/i10.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>LES DIAUSORES</h4>
              <p>OS DE DINAUSOR FOSSILISE</p>
              
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="img/dec/i2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>DOUIRETTE</h4>
              <p>VILLAGE BERBER TATAOUINE SUD</p>
              
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="img/dec/i7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>KSAR DEGHAGHRA</h4>
              <p>TATAOUINE CENTRE</p>
              
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="img/dec/i8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>KSAR AOULED DEBBAB</h4>
              <p>TATAOUINE SUD</p>
              
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="img/dec/i9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>DESERT</h4>
              <p>DUNES DE SABLE</p>
              
              
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
{% endblock %}
