{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
            <h1> Liste des messages</h1>
        </div>
        <div class="container">
            <table class="table table-bordered">
                <thead>
                    <tr>

                        <th>Nom</th>
                        <th>E-mail</th>
                        <th>Object</th>
                        <th>Message</th>

                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts|sort|reverse %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.subject }}</td>
                            <td>{{ contact.content }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}
